<div style="display: inline-block">
    @Html.ListBox("Items", ViewBag.Quarts as IEnumerable<SelectListItem>)<br />
    <b>Quarter:</b><div id="Quarter" />
    <b>Start Date:</b><div id="StartDate" />
    <b>End Date:</b><div id="EndDate" />

    <form action="/Maintenance/QuartersUpdate" method="post">
        <b>Active:</b> <input type="checkbox" name="Active" id="Active" /><br />
        <input type="hidden" name="Number" value="off" id="Number">

        <input type="submit" value="Update" />
    </form>
</div>


<div style="display: inline-block">
    <form action="/Maintenance/QuartersInsert" method="post">
        <b>Add new item:</b><br />
        Quarter: <input type="text" name="QuarterDesc" /> 20 characters or less<br />
        Start Date: <input type="date" name="StartDate" /><br />
        End Date: <input type="date" name="EndDate" /><br />

        <input type="submit" value="Submit" />
    </form>
</div>





<script>
    var quarter = @Html.Raw(Json.Encode(ViewBag.Quarts));
    var start = @Html.Raw(Json.Encode(ViewBag.StartDate));
    var end = @Html.Raw(Json.Encode(ViewBag.EndDate));
    var active = @Html.Raw(Json.Encode(ViewBag.Active));

    for (i = 0; i < $('#Items option').length; i++) {
        if (active[i].Text === "False") {
            $('#Items option')[i].style.backgroundColor = "#ff4d4d";
        }
    }
    $('#Items').change(function () {
        selected = $('#Items').val();
        $('#Quarter').text(quarter[selected - 1].Text);
        $('#StartDate').text(start[selected - 1].Text);
        $('#EndDate').text(end[selected - 1].Text);
        if (active[selected - 1].Text === "True") {
            $('#Active').attr("checked", true);
        }
        if (active[selected - 1].Text === "False") {
            $('#Active').attr("checked", false);
        }
        $('#Number').attr("value", selected.toString());
    });
</script>

<style>
    #Items {
        height: 200px;
    }
</style>