@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Maintenance</h2>

<div>
    @Html.DropDownList("SelectedCategory", new List<SelectListItem>
    {
       new SelectListItem{ Text="Select Category", Value = "0" },
       new SelectListItem{ Text="Departments", Value = "1" },
       new SelectListItem{ Text="Quarters", Value = "2" },
       new SelectListItem{ Text="Statuses", Value = "3" },
       new SelectListItem{ Text="Strategic Pillars", Value = "4" },
       new SelectListItem{ Text="Strategic Goals", Value = "5" }
    })
</div>

<div id="listarea">

</div>

<script>
 $(function () {
        var url = '';
        $('#listarea').load('@Url.Action("Quarters", "Maintenance")');
        var category = $('#SelectedCategory').val();
        $('#SelectedCategory').change(function () {
            category = $('#SelectedCategory').val();
            switch (category) {
                case '1':
                    url = '@Url.Action("Departments", "Maintenance")';
                    break;
                case '2':
                    url = '@Url.Action("Quarters", "Maintenance")';
                    break;
                case '3':
                    url = '@Url.Action("Statuses", "Maintenance")';
                    break;
                case '4':
                    url = '@Url.Action("Pillars", "Maintenance")';
                    break;
                case '5':
                    url = '@Url.Action("Goals", "Maintenance")';
                    break;
                default:
            }
            $('#listarea').load(url);
        });
    });
</script>