@model TrackTaskItemsDb.Models.QuarterItem

@{
    ViewBag.Title = "Create";



}
<h4 style="text-align:center;background:#0065A2; color:white">Item Dates</h4>

<ul class="list-group">

    @foreach (var item in ViewBag.QuarterItems.Items)
    {
        if (item.isOriginal)
        {
            <li class="list-group-item">
                @Html.Label("Original Start Date", htmlAttributes: new { @class = "control-label col-md-2" })
                @item.Quarter1.Quarter_Desc

            </li>
            <li class="list-group-item">
                @Html.Label("Original End Date", htmlAttributes: new { @class = "control-label col-md-2" })
                @item.Quarter.Quarter_Desc

            </li>


        }
        if (item.isUpdated)
        {
            <li class="list-group-item">


                @if (item.StartQuarterId > 0)
                {
                    @Html.Label("Updated Start Date", htmlAttributes: new { @class = "control-label col-md-2" })
                    @item.Quarter1.Quarter_Desc
                }

            </li>
            <li class="list-group-item">

                @if (item.EndQuarterId > 0)
                {
                    @Html.Label("Updated End Date", htmlAttributes: new { @class = "control-label col-md-2" })
                    @item.Quarter.Quarter_Desc
                }


            </li>


        }

    }


</ul>

<h4 style="text-align:center;background:#0065A2; color:white">Change Dates</h4>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">


        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.StartQuarterId, "Change End Date", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EndQuarterId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EndQuarterId, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">

        </div>

        <div class="form-group hidden">
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TaskItemId, ViewBag.TaskItemId as IEnumerable<SelectListItem>, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" style="text-align:center;background:#0065A2; color:white" />
                <button type="button" class="btn btn-info" style="background-color:#a9be41">
                    @foreach (var item in ViewBag.TaskItemId.Items)
                    {

                        <div>
                            @Html.ActionLink("Cancel", "Details", "ItemDepartments", new { id = item }, new { @style = "color:white;" })
                        </div>
                    }
                </button>
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
