@model IEnumerable<TrackTaskItemsDb.Models.QuarterItem>

@{
    ViewBag.Title = "Index";

}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<link href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet" />


<h4 style="text-align:center;background:#0065A2; color:white" class="container">Quarters and Item list</h4>

<style>
    i {
        color: red;
    }
</style>
<script>
    $(document).ready(function () {
        $('#Items').DataTable();
    });
</script>
<table id="Items" class="table">

    <thead>
        <tr>
            <th>
                @Html.DisplayName("Item Number")
            </th>
            <th>
                @Html.DisplayName("Original Start Date")
            </th>

            <th>
                @Html.DisplayName("Original End Date")
            </th>

            <th>
                @Html.DisplayName("Updated Start Date")
            </th>

            <th>
                @Html.DisplayName("Updated End Date")
            </th>

        </tr>

    </thead>

    <tbody>

        @foreach (var item in Model)
        {

            var item_num = item.TaskItem.ItemDepartments.Where(i => i.TaskItemId == item.TaskItemId && i.IsImpacted == false).Select(i => i.ItemNumber).FirstOrDefault();
            var currentDate = DateTime.Now;
            var originalStartQuarter = item.TaskItem.QuarterItems.Where(x => x.isOriginal && x.StartQuarterId > 0 && x.TaskItemId == item.TaskItemId).FirstOrDefault();

            var originalEndQuarter = item.TaskItem.QuarterItems.Where(x => x.isOriginal && x.EndQuarterId > 0 && x.TaskItemId == item.TaskItemId).FirstOrDefault();

            var updatedStartQuarter = item.TaskItem.QuarterItems.Where(x => x.isUpdated && x.StartQuarterId > 0 && x.TaskItemId == item.TaskItemId).OrderByDescending(x => x.CreatedDate).FirstOrDefault();
            var updatedEndQuarter = item.TaskItem.QuarterItems.Where(x => x.isUpdated && x.EndQuarterId > 0 && x.TaskItemId == item.TaskItemId).OrderByDescending(x => x.CreatedDate).FirstOrDefault();

           if (item_num != null)
            {
                <tr>


                    <td>
                        @Html.DisplayFor(modelItem => item_num)
                    </td>

                    <td>
                        @originalStartQuarter.Quarter1.Quarter_Desc
                    </td>

                    @if (originalEndQuarter.Quarter.EndDate < currentDate.Date && item.TaskItem.Status != 6)
                    {
                        <td>


                            @originalEndQuarter.Quarter.Quarter_Desc
                            <i class="glyphicon glyphicon-flag"></i>



                        </td>
                    }
                    else
                    {
                        <td>

                            @originalEndQuarter.Quarter.Quarter_Desc
                        </td>
                    }


                    <td>
                        @if (updatedStartQuarter != null)
                        {
                            @updatedStartQuarter.Quarter1.Quarter_Desc
                        }
                    </td>

                    <td>
                        @if (updatedEndQuarter != null)
                        {
                            @updatedEndQuarter.Quarter.Quarter_Desc
                        }
                    </td>

                </tr>


            }
        }
    </tbody>
</table>
