@model IEnumerable<TrackTaskItemsDb.Models.ItemDepartment>

<div>
    <button style="background-color:#a9be41">
        @Html.ActionLink("Back to List", "Index", "ItemDepartments", new { @style = "color:white;" })
    </button>

</div>

@foreach (var item in Model)
{
    if (item.IsImpacted == false)
    {
        <h3 style="text-align: center;">
            <span style="background:#0065A2; color:white">

                Item Number: @Html.DisplayFor(modelItem => item.ItemNumber)

            </span>
        </h3>
    }

}

<div>
    <h4 style="text-align:center;background:#0065A2; color:white">Details</h4>

    @foreach (var item in Model)
    {
        if (item.IsImpacted == false)
        {
            <table>
                <tr>
                    <td>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayName("Created By")
                            </dt>

                            <dd>
                                @Html.DisplayFor(modelItem => item.User.UserIdentifier)
                            </dd>
                            <dt>
                                @Html.DisplayName("Outcome")
                            </dt>

                            <dd>
                                @Html.DisplayFor(modelItem => item.TaskItem.Outcome)
                            </dd>
                            <dt>
                                @Html.DisplayName("Status")
                            </dt>

                            <dd>
                                @Html.DisplayFor(modelItem => item.TaskItem.Status1.Status_Desc)
                            </dd>

                            <dt>
                                @Html.DisplayName("Strategic Pillar")
                            </dt>

                            <dd>
                                @Html.DisplayFor(modelItem => item.TaskItem.StrategicPillar.StrategicPillar1)
                            </dd>
                            <dt>
                                @Html.DisplayName("Action")
                            </dt>

                            <dd>
                                @Html.DisplayFor(modelItem => item.TaskItem.Action)
                            </dd>
                            </dl>
                            
                    </td>
                    <td>
                        <dl class="dl-horizontal" style="align-content: start">
                            <dt>
                                @Html.DisplayName("Budget Impact")
                            </dt>

                            <dd>
                                @Html.DisplayFor(modelItem => item.TaskItem.BudgetImpact)
                            </dd>
                            <dt>
                                @Html.DisplayName("Mandate Date")
                            </dt>
                            <dd>
                                @Html.DisplayFor(modelItem => item.TaskItem.MandateDate)
                            </dd>
                            <dt>
                                @Html.DisplayName("Mandate Comment")
                            </dt>


                            @if (string.IsNullOrEmpty(item.TaskItem.MandateComment))
                            {
                                <dd>
                                    No
                                </dd>
                            }
                            else
                            {
                                <dd>
                                    Yes
                                </dd>
                            }

                        </dl>
                    </td>
                </tr>
                
            </table>
            

            <button style="background-color:#0065A2">
                @Html.ActionLink("Update Details", "Edit", "TaskItems", new { id = item.TaskItemId }, new { @style = "color:white;" })
            </button>



        }
    }
</div>


<div>
    <h4 style="text-align:center;background:#0065A2; color:white">Quarters</h4>
    @foreach (var item in Model)
    {
        if (item.IsImpacted == false)
        {
            foreach (var quarter in item.TaskItem.QuarterItems.OrderBy(a => a.LastTimeModified))
            {
                <ul class="list-group">
                    @if ((quarter.StartQuarterId > 0) && quarter.isOriginal == true)
                    {
                        <li class="list-group-item"> Original Start Quarter: @Html.DisplayFor(modelItem => quarter.Quarter1.Quarter_Desc)</li>
                    }
                    @if ((quarter.EndQuarterId > 0) && quarter.isOriginal == true)
                    {
                        <li class="list-group-item"> Original End Quarter: @Html.DisplayFor(modelItem => quarter.Quarter.Quarter_Desc)</li>
                    }
                    @if ((quarter.StartQuarterId > 0) && quarter.isOriginal == false)
                    {
                        <li class="list-group-item"> Updated Start Quarter: @Html.DisplayFor(modelItem => quarter.Quarter1.Quarter_Desc)</li>
                    }
                    @if ((quarter.EndQuarterId > 0) && quarter.isOriginal == false)
                    {
                        <li class="list-group-item"> Updated End Quarter: @Html.DisplayFor(modelItem => quarter.Quarter1.Quarter_Desc)</li>
                    }

                </ul>
            }

            <div>
                <button style="background-color:#0065A2">
                    @Html.ActionLink("Update Start Quarter", "Create", "QuarterItems", new { id = item.TaskItemId }, new { @style = "color:white;" })
                </button>
                <button style="background-color:#0065A2">
                    @Html.ActionLink("Update End Quarter", "Create", "QuarterItems", new { id = item.TaskItemId }, new { @style = "color:white;" })
                </button>
            </div>




        }

    }

</div>

<div>


    <h4 style="text-align:center;background:#0065A2; color:white">Update Notes</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">@Html.DisplayName("Update Notes")</th>
                <th scope="col">@Html.DisplayName("Created Date")</th>

            </tr>
        </thead>
        @foreach (var item in Model)
        {

            foreach (var notes in item.TaskItem.Updates)
            {

                if (item.IsImpacted == false)
                {


                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => notes.UpdateNotes)


                                @foreach (var user in ViewBag.UserId.Items)
                                {
                                    if (user.Id == notes.UserId)
                                    {
                                        var UserInfo = user.FirstName + user.LastName;
                                        <br />
                                        <span style="color:gray">
                                            <strong>
                                                Written By: < @UserInfo >
                                            </strong>
                                        </span>

                                    }
                                }

                            </td>

                            <td>@Html.DisplayFor(modelItem => notes.CreatedDate)</td>



                        </tr>
                    </tbody>

                }

            }

        }

    </table>

</div>

<div>
    @foreach (var item in Model)
    {
        if (item.IsImpacted == false)
        {
            <button style="background-color:#0065A2">  @Html.ActionLink("Add Update Notes", "Create", "Updates", new { id = item.TaskItemId }, new { @style = "color:white;" })</button>
        }

    }

</div>

<h4 style="text-align:center;background:#0065A2; color:white">Impacted Departments</h4>
@foreach (var item in Model)
{
    if (item.IsImpacted)
    {
        <ul class="list-group">
            <li class="list-group-item">@Html.DisplayFor(modelItem => item.Department.Department_Name)</li>
        </ul>

    }

}

