@model IEnumerable<TrackTaskItemsDb.Models.ItemDepartment>


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<link href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet" />

<script>
    $(document).ready(function () {
        $('#Items').DataTable();
    });
</script>

<h4 style="text-align:center;background:#0065A2; color:white" class="container">Task Item List</h4>

<table id="Items" class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskItem.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskItem.IsMandate)
            </th>
            <th>
                @Html.DisplayName("Original Start Quarter")
            </th>
            <th>
                @Html.DisplayName("Original End Quarter")
            </th>
            <th>
                @Html.DisplayName("Updated Start Quarter")
            </th>
            <th>
                @Html.DisplayName("Updated End Quarter")
            </th>

            <th>
                @Html.DisplayNameFor(model => model.TaskItem.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskItem.CompletedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department.Department_Name)
            </th>

        </tr>


    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            var originalStartQuarter = item.TaskItem.QuarterItems.Where(x => x.isOriginal && x.StartQuarterId > 0).FirstOrDefault();

            var originalEndQuarter = item.TaskItem.QuarterItems.Where(x => x.isOriginal && x.EndQuarterId > 0).FirstOrDefault();

            var updatedStartQuarter = item.TaskItem.QuarterItems.Where(x => x.isUpdated && x.StartQuarterId > 0).OrderByDescending(x => x.CreatedDate).FirstOrDefault();
            var updatedEndQuarter = item.TaskItem.QuarterItems.Where(x => x.isUpdated && x.EndQuarterId > 0).OrderByDescending(x => x.CreatedDate).FirstOrDefault();

        <tr>

            <td>
          
                @Html.ActionLink(item.ItemNumber, "Details", new { id = item.TaskItemId })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskItem.Status1.Status_Desc)
            </td>

            @if (item.TaskItem.IsMandate)
            {
                <td>
                    @Html.Raw("Yes")
                </td>

            }
            else
            {
                <td>
                    @Html.Raw("No")
                </td>
            }

            <td>

                @originalStartQuarter.Quarter1.Quarter_Desc

            </td>


            <td>
                @originalEndQuarter.Quarter.Quarter_Desc

            </td>
            <td>

                @if (updatedStartQuarter != null)
                {
                    @updatedStartQuarter.Quarter1.Quarter_Desc
                }

            </td>

            <td>
                @if (updatedEndQuarter != null)
                {
                    @updatedEndQuarter.Quarter.Quarter_Desc
                }
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.TaskItem.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskItem.CompletedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Department_Name)
            </td>

        </tr>

        }
    </tbody>
</table>

