@model IEnumerable<TrackTaskItemsDb.Models.StrategicGoal>

@{
    ViewBag.Title = "Index";

}


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<link href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet" />

<script>
    $(document).ready(function () {
        $('#Items').DataTable();
    });
</script>

<h4 style="text-align:center;background:#0065A2; color:white">Strategic Pillar and Goals</h4>

<table class="table" id="Items">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Strategic Goals")
            </th>
            <th>
                @Html.DisplayName("Strategic Pillar")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {


            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Goals)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StrategicPillar.StrategicPillar1)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |

                </td>
            </tr>
        }
    </tbody>
</table>




