@model TrackTaskItemsDb.Models.Update

@{
    ViewBag.Title = "Create";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>


    textarea {
        width:150%;
    }
</style>
@using (Html.BeginForm())
{
    
    @Html.AntiForgeryToken()



    <div class="form-horizontal">
        <h4 style="text-align:center;background:#0065A2; color:white">Add Update Notes</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group" style="width: 100%">
            @Html.LabelFor(model => model.UpdateNotes, htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.TextAreaFor(model => model.UpdateNotes, new { rows = 15, columns = 200, @style="min-width:70%;", htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UpdateNotes, "", new { @class = "text-danger" })
            <div>@Html.Raw("500 Maximum Characters")</div>

        </div>
        <div class="form-group hidden">

            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TaskItemId, ViewBag.TaskItemId as IEnumerable<SelectListItem>, htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.UserId, ViewBag.UserId as IEnumerable<SelectListItem>, htmlAttributes: new { @class = "form-control" })
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" style="text-align:center;background:#0065A2; color:white"/>
                <button type="button" class="btn btn-info"  style="background-color:#a9be41">
                    @foreach (var item in ViewBag.TaskItemId.Items)
                    {

                        <div>
                            @Html.ActionLink("Cancel", "Details", "ItemDepartments", new { id = item }, new { @style = "color:white;" })
                        </div>
                    }
                </button>
            </div>
        </div>
    </div>

}




