@model TrackTaskItemsDb.Models.TaskItem

@{
    ViewBag.Title = "Create";
    var list = ViewBag.Status;

}

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css">


<script type="text/javascript">
    $(document).ready(function () {
        $('#ImpactedDep').multiselect({
            includeSelectAllOption: true
        });

    

    });
</script>



<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>TaskItem</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Status, "Status", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10" id="status">
            @Html.DropDownList("Status", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group" id="completedDt">
        @Html.LabelFor(model => model.CompletedDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CompletedDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CompletedDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Mandate Required", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div id="IsMandate">
                <label>Yes</label>
                <input name="Mandate" id="MandateYes" type="radio" value="Yes" />
                <label>No</label>
                <input name="Mandate" id="MandateNo" type="radio" value="No" />
            </div>
        </div>

    </div>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group" id="mand">
        @Html.LabelFor(model => model.MandateComment, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MandateComment, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MandateComment, "", new { @class = "text-danger" })
        </div>

    </div>
    <div class="form-group">
        @Html.Label("Department", htmlAttributes: new { @class = "control-label col-md-2" })
        <select name="Dep" id="Dep">
            @foreach (var item in ViewBag.Department as SelectList)
            {
                <option value="@item.Value">@item.Text</option>
            }
        </select>
    </div>

    <div>
        @Html.Label("Impacted Department", htmlAttributes: new { @class = "control-label col-md-2" })
        <select id="ImpactedDep" multiple="multiple">
            @foreach (var item in ViewBag.Department as SelectList)
            {
                <option value="@item.Value">@item.Text</option>
            }
        </select>
    </div>



    <div class="form-group">
        @Html.Label("Strategic Pillar", htmlAttributes: new { @class = "control-label col-md-2" })
        <select class="form-control" id="StudentGender" name="StudentGender">
            @foreach (var item in ViewBag.Pillars as SelectList)
            {

                <option>@item.Text</option>

            }
        </select>
    </div>


    <div class="form-group">
        @Html.Label("Original Start Quarter", htmlAttributes: new { @class = "control-label col-md-2" })
        <select class="form-control" id="StudentGender" name="StudentGender">
            @foreach (var item in ViewBag.Quarters as SelectList)
            {
                <option>@item.Text</option>


            }

        </select>
        @Html.Label("Original End Quarter", htmlAttributes: new { @class = "control-label col-md-2" })
        <select class="form-control" id="StudentGender" name="StudentGender">
            @foreach (var item in ViewBag.Quarters as SelectList)
            {
                <option>@item.Text</option>


            }

        </select>

    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Action, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Action, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Action, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Outcome, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Outcome, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Outcome, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.IT_Project_Number, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.IT_Project_Number, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.IT_Project_Number, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.Label("Budget Impact", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select name="cars" id="cars">
                <option value="CapitolImplications">Capitol Implications</option>
                <option value="OperationalImplications">Operational Implications</option>
            </select>
            <input type="number" />
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


<script type="text/javascript">

    $(document).ready(function () {


        $("#completedDt").hide();
        Status.addEventListener('change', getSelected);

        $("#mand").hide();
        $("#MandateYes").click(function() {
            if ($(this).change) {
                $("#mand").show();
            } 
        });

        $("#MandateNo").click(function () {
            if ($(this).change) {
                $("#mand").hide();
            }
        });

        function getSelected() {
            var val = $('#Status :selected').text();
            if (val == "Completed") {
                $("#completedDt").show();
            } else {
                $("#completedDt").hide();
            }
          
        }


    });

   
</script>