@model IEnumerable<TrackTaskItemsDb.Models.TaskItem>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Mandate
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MandateComment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Action)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IT_Project_Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status1.Status_Desc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>


                @if (item.IsMandate)
                {
                    <td>Yes</td>

                }
                else
                {
                    <td>No</td>}

                <td>
                    @Html.DisplayFor(modelItem => item.MandateComment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Action)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IT_Project_Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastModifiedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status1.Status_Desc)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |


                </td>
            </tr>

        }

    </tbody>
</table>
